@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --bg-color: #181818;
  --text-color: #fff;
  --second-color: #ccc;
  --main-color: #2272FF;
  --main-yellow: red;
  --aqua: #b4fee7;
  --shadow2: #81b4ff73;
  --shadow:#5e5e5e;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  font-weight: initial;
}

p {
  text-align: justify !important;
}

/* navbar */
.nav-container {
  display: flex;
  gap: 5rem;
}

.nav-box {
  background: var(--bg-color);
  color: var(--text-color);
}

.navbar {
  width: 100%;
}

.nav-item {
  a {
    font-size: 15px;
    font-weight: 500;
  }
}

/* Home */
.home {
  position: relative;
  max-height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: var(--bg-color);
  color: var(--text-color);
}

.slide {
  margin-bottom: 20px;
}

.one {
  display: inline-block;
  margin-right: 15px;
  padding: 0 15px;
  line-height: 32px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 5px;
  background: var(--main-color);
  color: var(--text-color);
}

.my-name{
  font-size: clamp(29px, 4vw, 4rem);
}

.domain-info{
  position: relative;
  font-size: clamp(1rem, 2.5vw, 2rem); 
}

/* image container css */
@property --a {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: true;
}

.image-container {
  margin-right: 8rem;
  width: 25rem;
  height: 25rem;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.image-container::before {
  content: "";
  position: absolute;
  inset: -10px 0px;
  background: repeating-conic-gradient(from var(--a), var(--main-color) 0%, var(--main-color) 5%,
      transparent 5%, transparent 40%, var(--main-color) 50%);
  transition: 0.5s;
  animation: animate 4s linear infinite;
}

.image-container::after {
  content: "";
  position: absolute;
  inset: 5px;
  border-radius: 50%;
  z-index: 1;
}

.img-box {
  position: absolute;
  inset: 3px;
  z-index: 1;
  border-radius: 50%;
  overflow: hidden;
}

.img-box img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  transition: 0.5s;
  pointer-events: none
}

@keyframes animate {
  0% {
    --a: 0deg;
  }

  100% {
    --a: 360deg;
  }
}


/* Intro  */

.intro {
  background: var(--bg-color);
  color: var(--text-color);
}

.intro-image {
  height: 25rem;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.intro-image::before {
  content: "";
  position: absolute;
  inset: -60px -60px;
  background: repeating-conic-gradient(from var(--a), var(--main-color) 0%, var(--main-color) 5%,
      transparent 5%, transparent 40%, var(--main-color) 50%);
  transition: 0.5s;
  animation: animate 4s linear infinite;
}

.intro-image::after {
  content: "";
  position: absolute;
  inset: 5px;
  border-radius: 50%;
  z-index: 1;
}

.intro-box-image {
  position: absolute;
  inset: 3px;
  z-index: 1;
  border-radius: 5px;
  overflow: hidden;
}

.intro-box-image img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  transition: 0.5s;
  pointer-events: none
}

.intro-sec-image {
  width: 23rem;
  height: 23rem;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.intro-sec-image::before {
  content: "";
  position: absolute;
  inset: -10px 0px;
  background: repeating-conic-gradient(from var(--a), var(--main-color) 0%, var(--main-color) 5%,
      transparent 5%, transparent 40%, var(--main-color) 50%);
  transition: 0.5s;
  animation: animate 4s linear infinite;
}

.intro-sec-image::after {
  content: "";
  position: absolute;
  inset: 5px;
  border-radius: 5px;
  z-index: 1;
}

.intro-sec-box-image {
  position: absolute;
  inset: 3px;
  z-index: 1;
  border-radius: 50%;
  overflow: hidden;
}

.intro-sec-box-image img {
  width: 100%;
  height: 120%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  transition: 0.5s;
  pointer-events: none
}


@media (width< 991px) {
  .home {
    position: relative;
    height: 30vh;
    width: 100%;
    padding: 17rem 0rem 8rem 0rem;
  }
}

/* Skills */

.education-section-subtle {
  background: var(--bg-color);
  color: var(--text-color);
}

.card-header {
  h1 {
    font-size: 25px;
  }
}

@media(max-width:390px) {
  .intro-sec-image {
    width: 18rem;
    height: 18rem;
  }
}

/* projects */
.projects {
  background: var(--bg-color);
  color: var(--text-color);
}


/* Education  */
.education-section {
  background: var(--bg-color);
  color: var(--text-color);
}

.edu-box {
  box-shadow: var(--shadow) 0px 4px 24px !important;
  border-radius: 5px 25px 5px 50px !important;
}

.edu-info {
  h4 {
    font-size: 20px !important;
  }

  h6 {
    font-size: 18px !important;
  }
}

.card-title {
  span {
    font-size: 18px;
  }
}

.edu-col-name {
  color: var(--main-color);
}

@media(max-width:600px) {
  .edu-info {
    h4 {
      font-size: 15px !important;
    }

    h6 {
      font-size: 12px !important;
    }
  }

  .card-title {
    span {
      font-size: 12px;
    }
  }

  .card-body {
    .card-text {
      font-size: 15px;
    }
  }
}



.edu-box:hover {
  transform: translateY(-8px);
  cursor: pointer;
}

a,
a:hover {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

/* Cards */
.postcard__tagbox {
  display: flex;
  flex-flow: row wrap;
  font-size: 14px;
  padding: 0;
  justify-content: center;

  .tag__item {
    display: inline-block;
    background: var(--shadow);
    border-radius: 3px;
    padding: 2.5px 10px;
    margin: 0 5px 5px 0;
    cursor: default;
    user-select: none;
    transition: background-color 0.3s;
    font-size: 13px;
    font-weight: 500;
    color: white;

    &:hover {
      background: rgba(83, 83, 83, 0.8);
    }
  }
}

@media (max-width:600px) {
  .tag__item {
    font-size: 11px !important;
  }
}




/* new card */
.cards_item {
  display: flex;
  max-width: 20rem;
}

.card_image {
  display: flex;
  height: 250px;
  box-shadow: 0 50px 100px 0 var(--shadow2);
  transition: all 2s ease;
}

.card_image img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  transition: transform 0.1s linear,box-shadow 0.2s;
}

.card_text:focus,
.card:focus {
  outline: 2px dashed var(--aqua);
}

.card:focus,
.card:hover {
  transform: scale(1.01);
  box-shadow: 0 10px 5px -5px rgba(0, 0, 0, 0.2);
}

.card_content {
  padding: 1rem 0rem;
}

.card_title {
  position: absolute;
  top: 0;
  right: -200%;
  width: 70%;
  height: auto;
  color: var(--black);
  padding: 0.5rem;
  border-radius: 5px 0 0 5px;
  transform-origin: left top;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px !important;
  overflow: hidden;
  z-index: 1;
  background: #0d6efd;
  color: var(--text-color);

  a {
    text-decoration: none;
    color: var(--text-color);
  }
}

.card_image:hover{
   img{
    scale: 1.02;
  }
}

.card:focus .card_title,
.card:hover .card_title {
  animation: 0.5s ease-in 0s fly-in 1 both;
  animation-fill-mode: forwards;
}

.card_text {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  text-size-adjust: 0.2px;
  padding: 0 1rem;

  p {
    font-size: 15px;
    letter-spacing: -0.8px !important;
  }
}

.card_text p:first-of-type:first-letter {
  font-size: 1.5em;
  margin-right: 0.05em;
  font-family: "Poppins", sans-serif;
}

@media (min-width: 480px) {
  .card_text {
    overflow: auto;
    max-height: 20rem;
    scrollbar-width: thin;
    scrollbar-color: var(--text-color);
  }

  .card_text::-webkit-scrollbar {
    width: 12px;
  }

  .card_text::-webkit-scrollbar-track {
    background: var(--shadow2);
  }

  .card_text::-webkit-scrollbar-thumb {
    background: #0d6efd;
  }
}



.note {
  display: block;
  text-align: center;
  padding: 0.5rem;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(-45deg,
      transparent 10%,
      #0d6efd 10.5%,
      var(--aqua) 90%,
      transparent 90.5%);
  color: var(--black);
  font-size: 15px;
  font-style: italic;
  margin-top: 1rem;
}

@media(max-width:600px) {
  .card_text {
    p {
      font-size: 14px;
    }
  }

  .note {
    font-size: 12px;
  }
}

@keyframes fly-in {
  0% {
    top: 0;
    right: -200%;
    font-size: 1.325rem;
  }

  25% {
    top: 0;
    right: 0%;
    font-size: 1.325rem;
  }

  26% {
    font-size: 2rem;
  }

  100% {
    top: 0;
    right: 0;
    font-size: 2rem;
  }
}


/* Footer */
.footer-basic {
  padding: 40px 0;
  background: var(--bg-color);
  color: var(--text-color);
  border-top: 1px solid #9e9e9e;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.icons {
  height: 45px;
  width: 45px;
}

.footer-basic .social a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

